<div class="row">
   <div class="col s12">
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#mocha">Testing</a></li>
        <li class="tab col s3"><a href="#visual-acceptance-container">Visual Acceptance</a></li>
        <li class="tab col s3"><a href="#blanket-main">Code Coverage</a></li>
    </ul>
    <div id="mocha"></div>
    <div id="mocha-fixture"></div>

    <div id="ember-testing-container">
        <div id="ember-testing"></div>
    </div>
    <div id='visual-acceptance-container'>
    </div>
  </div>
</div>
